@charset "UTF-8";

@media screen  and (max-width: 1500px){

   #itens{
      background-color: white;
      border-radius: 10px;
      width: 400px;
      margin-left: 65%;  
      margin-top: -10%; 

  }

  #resp{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  
  
  
    
}